@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<script src="js/signalr/dist/browser/signalr.min.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/InfoHub")
        .build();

    hubConnection.on('ShowMessageCreate', function (message) {

        let elem = document.createElement("p");
        elem.appendChild(document.createTextNode(message));

        document.getElementById("ShowMessageCreate").appendChild(elem);

    });
    hubConnection.start();
</script>
<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Список пользователей</a>